.search {
  width: 100vw;
  padding-top: 10px;
  display: flex;
  position: fixed;
  z-index: 1000;
  justify-content: center;
  flex-direction: row;
  background: hsl(var(--hue), 10%, 10%);
}
.search-input {
  width: 90%;
  border: 3px solid $primary-color;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
  font-family: "Courier New", Courier, monospace;
}

.character-display {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.character-container {
  padding: 20px;
}
.character-name {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-weight: 700;
}
.paragrapht {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .character-display {
    flex-direction: column;
  }
}
.pagination {
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1px;
}

.episode-card {
  width: 10rem;
  border: white 1px solid;
  border-radius: 10px;
  padding: 10px;
  background: gray;
}

.episode-card:hover {
  cursor: pointer;
  background: $primary-color;
  opacity: 0.8;
  transition: 0.5s;
}
